#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 150px);
  min-height: 400px;

  #login-body {
    width: 450px;

    #form-login {
      border: 1px solid $border-light;
      padding: 10px 15px;
      border-radius: $border-radius-base;
    }
  }
}