//.btn {
//  background: transparent;
//
//  &:focus, &:active, &:hover {
//    outline: 0 !important;
//    @include box-shadow(none);
//  }
//
//
//
//  &.btn-space {
//    margin-right: 10px;
//  }
//
//  @import "buttons/default";
//  @import "buttons/unstyled";
//  @import "buttons/text";
//}
//
//@import "buttons/outline";
//@import "buttons/solid";
//

.btn {
  @include transition(all 0.15s ease-out);

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    @include opacity(.35);
  }

  font-weight: 300;
  border-radius: $border-radius-small;

  &.btn-link {
    font-weight: normal;
  }

  .caret {
    color: #fff;
  }

  &.btn-text {
    padding: 0;
    font-weight: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
    background: transparent !important;
    outline: 0 !important;
    box-shadow: none !important;

    &:hover, &.active {
      color: $brand-info;
    }

   &.disabled, &[disabled=disabled] {
     color: inherit!important;
   }
  }
}