.gu-transit {
  border: 1px dashed $black !important;
  opacity: 1;
  background: #fff !important;
  height: auto!important;

  * {
    opacity: 0;
    visibility: hidden;
  }
}

.gu-mirror {
  opacity: 1;
  transform: rotate(4deg);
  background: #D1D1D1;
}