//.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus

.dropdown-menu {
  margin-top: 5px;
  padding: 0;

  ul {
    margin: 0;
  }

  li {

    &.heading {
      padding: 0 10px;

      h5 {
        margin: 5px 0 0 0;
      }
    }

    a {
      display: inline-block;
      width: 100%;

      i {
        width: 20px;
        margin-right: 3px;
      }

      color: $text-color;

      &.active {
        color: $blue;
      }

      &:hover, &:focus {
        color: #fff!important;
        background: $blue!important;
        display: block;
        text-decoration: none!important;
        i {
          color: #fff!important;
        }

        &[disabled=disabled], &.disabled {
          color: $grey!important;
          background: #fff!important;
          i {
            color: $grey!important;
          }
        }
      }
    }
  }
}

//.input-group-btn {
//
//  .btn.btn-default.dropdown-toggle, .btn.btn-default.dropdown-toggle:hover, .btn.btn-default.dropdown-toggle:focus, .btn.btn-default.dropdown-toggle.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
//    border-color: $btn-default-border!important;
//    border-right: 0!important;
//  }
//
//  &.open {
//    > button {
//     color: $green !important;
//   }
//    span {
//      color: $green;
//    }
//  }
//}

