.text-success {
  color: $dark-green;
}

.text-muted {
  color: $text-muted;
}

.text-warning {
  color: $dark-yellow;
}

.text-danger, .text-error {
  color: $dark-red;
}

.text-info {
  color: $blue;
}

.file-status {
  &.waiting {
    color: $text-muted;
  }
  &.received {
    color: $dark-green;
  }
  &.rejected {
    color: $dark-red;
  }
}

h5 {
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1.6;
}

a.disabled, a[disabled=disabled] {
  color: $grey!important;
  cursor: not-allowed;
}

a.secondary {
  color: $dark-grey;
  &:hover {
    color: $text-color;
  }
}