.btn {
  background: transparent;

  &:focus, &:active, &:hover {
    outline: 0 !important;
    @include box-shadow(none);
  }

  //@include border-radius(2px);

  &.btn-space {
    margin-right: 10px;
  }

  @import "buttons/default";
  @import "buttons/unstyled";
}

@import "buttons/outline";
@import "buttons/solid";

