//.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus

.dropdown-menu {
  li {
    a {
      &.active {
        color: $blue;
      }

      &:hover, &:focus {
        color: #fff!important;
        background: $blue!important;
        text-decoration: none!important;
      }
    }
  }
}

.input-group-btn {
  &.open {
    button {
      color: $blue!important;
    }
    span {
      color: $blue;
    }
  }
}

.btn.btn-default.dropdown-toggle:hover, .btn.btn-default.dropdown-toggle:focus, .btn.btn-default.dropdown-toggle.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  border-color: $border-light!important;
}