.navbar {
  background: #fff;
  border: 0;
  margin: 0;

  .navbar-nav {
    > .open {
      > a, > a:hover, > a:focus {
        background: #fff;
        text-decoration: underline;
      }
    }

    li {
      > .dropdown-menu {
        margin-top: -5px;

        li {
          a {
            &:hover, &:focus {
              background: #fff;
            }
          }
        }
      }
    }
  }


  a:hover {
    text-decoration: underline!important;
  }
}