.page-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .per-page-picker {
    display: flex;
    align-items: center;

    select {
      flex: 0 0 80px;
      margin: 0 15px 0 0;
    }

    span {
      flex: 1 0 100px;
    }
  }
}
