.text-success {
  color: $dark-green;
}

.text-muted {
  color: $text-muted;
}

.text-warning {
  color: $dark-orange;
}

.text-danger, .text-error {
  color: $dark-red;
}

.text-info {
  color: $blue;
}

.file-status {
  &.waiting {
    color: $text-muted;
  }
  &.received {
    color: $dark-green;
  }
  &.rejected {
    color: $dark-red;
  }
}
