&.btn-default {
  background-color: #fff!important;
  &:hover {
    color: $blue;
    border-color: $blue!important;

    .caret {
      color: $blue;
    }
  }

  &:hover:active, &:active:focus, &.focus:active, &.active:hover, &.active:focus, &.active.focus, &.dropdown-toggle:hover, &.dropdown-toggle:focus, &.dropdown-toggle.focus {
    color: $blue !important;
    border-color: $blue!important;
    .caret {
      color: $blue;
    }
  }
}
