&.btn-unstyled {
  color: $grey;
  border: 0;
  @include border-radius(0);

  &:focus, &:active {
    color: $grey;
  }

  &:not([disabled]):hover {
    color: $dark-grey;
  }

  &:disabled {
    color: $grey!important;
  }
}