// Colors
$extra-light-red: #FAE5E5;
$light-red: #FACACD;
$red: #ff6a6a;
$dark-red: #E85346;
$extra-dark-red: #8A1C18;
$extra-light-yellow: #FFFBE9;
$light-yellow: #FCFFBA;
$yellow: #FFED87;
$dark-yellow: #F0A830;
$brown: #5A410C;
$orange: #FFA339;
$dark-orange: #D35400;
$extra-light-green: #C8FFC6;
$light-green: #9CFFA8;
$green: #41B883;
$dark-green: #27AE60;
$extra-dark-green: #1C6F3D;
$extra-light-blue: #eff9fd;
$light-blue: #67BAFF;
$faded-blue: rgba(52, 152, 219, 0.8);
$blue: #3498DB;
$dark-blue: #2980B9;
$purple: #9E31D9;
$faded-midnight: rgba(41, 70, 97, 0.6);
$midnight: #294661;
$midnight-mid: #7F94A1;
$midnight-light: #AEBAC7;
$extra-light-grey: #F7F7F7;
$light-grey: #E9E9E9;
$grey: #D2D2D2;
$dark-grey: #999999;
$extra-dark-grey: #5A5A5A;
$black: #353535;