// Box shadow
$standard-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.05);
$standard-border-radius: 5px;
$small-border-radius: 3px;
$standard-border: 1px solid rgba(0, 0, 0, 0.09);

// dark
$dark-box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.08);