.project-view {

  .summary {
    .due-date {
      display: inline-block;
      p {
        font-size: 0.9em;
        margin: 0;
        display: inline-block;
      }

      .datepicker {
        display: inline-block;
        button {
          padding: 0;
          font-size: 1em;

          i {
            float: left;
            margin: 2px 6px 0 0;
            font-size: 1em;
          }

          .smart-date {
            display: inline-block;
          }
        }
      }
    }
  }
}