.project-view {

  .summary {
    .due-date {
      p {
        font-size: 0.9em;
        margin: 0;
        display: inline-block;
      }

      .datepicker {
        display: inline-block;
        button {
          padding: 0;
          font-size: 1em;

          i {
            float: left;
            margin: 2px 6px 0 0;
            font-size: 1em;
          }

          .smart-date {
            display: inline-block;
          }
        }
      }
    }

    .weighting {
      vertical-align: middle;

      .icon {
        margin: 0 3px 0 0;
      }

      .editable-number-field {
        width: 80px;
        display: inline-block;
      }
    }
  }

  #pf-members {
    margin: 0 0 10px;

    .list-members {
      .single-member .user-avatar, .add-member > button {
        width: 35px;
        height: 35px;
        font-size: 0.7em;
      }
    }

    #dropdown-assign-member {
      min-width: 300px;
      max-height: 350px;
      overflow: auto;
      ul {
        li {
          display: flex;
          &:not(:last-child) {
            border-bottom: 1px solid $laravel-border-color;
          }

          > * {
            padding: 10px;
          }

          .main {
            flex: 1;
            border-right: 1px solid $laravel-border-color;
            display: flex;

            .avatar {
              margin: 0 10px 0 0;
            }
            .name {
              font-weight: bold;
            }
          }

          .btn-assign {
            flex: 0 0 60px;
            min-width: 60px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
              display: none;
              color: $grey;
              font-size: 1.2em;
            }

            &:hover {
              i {
                display: block;
              }
            }

            &.active {
              i {
                display: block;
                color: $brand-success;
              }
            }
          }

        }
      }
    }
  }
}