#account-overview {

  #page-fixed-top {
    border-bottom: 1px solid $laravel-border-color;
  }

  #page-scroll-content {
    padding-top: 15px;
  }

  #form-credit-card {

    .expiry-fields {
      display: flex;
      .separator {
        margin: 0 10px;
        font-size: 1.75em;
        color: $text-muted;
      }
    }
  }
}