.comments-thread {
  padding: 0 10px;
  border: 1px solid $laravel-border-color;
  position: relative;

  .loading-overlay {
    z-index: $z-comments-loading;
  }

  .list-comments {
    min-height: 75px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px 0 0 0;

    .single-comment {
      display: flex;

      &:not(:last-child) {
        margin: 0 0 15px;
      }

      .user-avatar {
        margin: 0 10px 0 0;
        background: #fff;
        border: 3px solid $midnight-mid;
        color: $midnight-mid;
      }

      .comment-content {
        .top {
          .sender {
            font-weight: bold;
            margin: 0 10px 0 0;
          }
          .sent {
            font-size: 0.8em;
            color: $text-muted;
          }
        }
        .body {
          margin: 0;
        }
      }
    }
  }

  .new-comment-field {
    position: relative;
    margin: 0 0 12.5px;
  }
}

#project-file-modal {
  .comments-thread {
    margin-top: 12.5px;

    .list-comments {
      max-height: 300px;
    }
  }
}

#file-view {
  .comments-thread {
    margin-top: 12.5px;
    padding-top: 10px;

    .list-comments {
      max-height: 300px;
    }
  }
}