.comments-thread {
  padding: 0 10px;
  border: 1px solid $laravel-border-color;
  position: relative;

  .loading-overlay {
    z-index: $z-comments-loading;
  }

  .list-comments {
    min-height: 75px;
    overflow-x: hidden;
    overflow-y: auto;

    .single-comment {
      margin: 10px 0;
      .top {
        display: flex;
        justify-content: space-between;
        .sender {
          font-weight: bold;
        }
        .sent {
          font-size: 0.9em;
          color: $text-muted;
        }
      }
    }
  }

  .new-comment-field {
    position: relative;
    margin: 0 0 12.5px;
  }
}

#project-file-modal {
  .comments-thread {
    margin-top: 12.5px;

    .list-comments {
      max-height: 300px;
    }
  }
}

#file-view {
  .comments-thread {
    margin-top: 12.5px;
    padding-top: 10px;

    .list-comments {
      max-height: 300px;
    }
  }
}