.file-uploader {
  display: inline-block;

  .loader {
    width: 34px;
    font-size: 1.2em;
    text-align: center;
    color: $brand-primary;
  }
}


.file-renamer {
  width: 100%;
  input {
    padding: 3px 5px;
    line-height: 1em;
    height: 29px;
    @include border-radius(0);
  }
}