.file-uploader {
  display: inline-block;

  .loader {
    width: 34px;
    font-size: 1.2em;
    text-align: center;
    color: $brand-primary;
  }
}

.file-date-input {
  position: relative;

  button {
    background: transparent;
    color: $input-color-placeholder;
    padding: 6px 12px;
    outline: 0!important;
    box-shadow: none!important;
    border: 0!important;

    &.filled {
      color: $input-color;
    }
  }

  input {
    opacity: 0;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: -1;
  }
}

.file-renamer {
  width: 100%;
  input {
    padding: 3px 5px;
    line-height: 1em;
    height: 29px;
    @include border-radius(0);
  }
}