@import "variables/all";
@import "../../../resources/assets/bower/bootstrap-sass/assets/stylesheets/bootstrap";
@import "components/all";
@import "fixes/all";
@import "setup/all";
@import "pages/checklist/form-make-checklist";

#landing {
  // landing page stylez

  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background: transparent;
    border: 0;

    a {
      color: #fff;
    }

    .img-logo {
      content:url("/images/logo/fc_logo_v1_white.svg");
    }

  }

  #hero {
    background-position: center top;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(/images/monkey-onsen.jpg);
    color: #fff;
    width: 100%;
    height: 100vh;
    background-size: cover;
    box-shadow: inset 0 -300px 650px -150px rgba(0, 0, 0, .3), inset 0 150px 130px -80px rgba(0, 0, 0, .4);
    text-shadow: 0 0 1px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;

    #hero-content {
      display: inline-block;
      text-align: center;

      h1 {
        font-size: 3em;
        margin-bottom: 20px;

        @media screen and (min-width: $screen-sm-min) {
          font-size: 6em;
        }
      }

      ul {
        margin: 0 0 30px;
        font-size: 1.2em;
        line-height: 2em;
        font-family: "adelle", Arial, serif;

        @media screen and (min-width: $screen-sm-min) {
          font-size: 1.5em;
        }
      }

      p {
        font-size: 1.35em;
        line-height: 1.5em;
      }
    }
  }

  #tagline {
    padding: 60px 0;
    h1 {
      font-size: 50px;
    }
    h3 {
      font-weight: normal;
      color: $extra-dark-grey;
      line-height: 1.5em;
    }
  }

  #features {
    margin: 0 0 100px;

    img {
      width: 130px;
      margin: 0 0 15px;
    }

    h4 {
      color: $blue;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 1px;
      margin: 0 0 20px;
    }
  }

  #list-maker {
    padding: 60px 0;
    margin: 0 0 40px;
    background: $extra-light-grey;
    height: 100vh;
    max-height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      display: block;
      width: 100%;

      > h2 {
        font-size: 1.75em;
        margin: 0 0 20px;
        color: $text-muted;
        text-transform: uppercase;
      }

      form {
        background: #fff;
      }
    }
  }

  #pricing {

    padding: 50px 0 100px 0;

    h1 {
      margin: 0 0 20px;
    }

    img {
      display: block;
      height: 250px;
      margin: 15px auto;
    }

    .price {
      padding: 15px 0;

      h3 {
        margin: 0 0 30px;
      }
    }

    #price-free {
      border-right: 1px dashed #000;
    }
  }

  #email-maker {
    background: $blue;
    color: #fff;
    padding: 30px 0 60px 0;

    h2 {
      font-size: 3em;
    }

    .right {
      h3 {
        font-size: 2em;
      }
      font-size: 1.2em;

      h4 {
        margin-top: 60px;
        font-size: 1.4em;
        font-weight: normal;
      }
    }

    #form-email {
      border: 2px solid $grey;
      padding: 30px;
      background: #fff;
      @include border-radius($border-radius-large);

      label {
        color: $text-muted;
        font-weight: normal;
      }
    }
  }

}