@import "variables/all";
@import "../../../resources/assets/bower/bootstrap-sass/assets/stylesheets/bootstrap";
@import "components/all";
@import "fixes/all";
@import "setup/all";

@import "pages/checklist/form-make-checklist";

#landing {
  // landing page stylez

  #pricing {
    img {
      display: block;
      height: 300px;
      margin: 15px auto;
    }
  }

  #form-email {
    border: 2px solid $grey;
    padding: 30px;
    @include border-radius($border-radius-large);

    label {
      color: $text-muted;
      font-weight: normal;
    }
  }

}