body {
  height: 100vh;
  overflow-x: hidden;

  #app {
    height: 100%;
    overflow: hidden;
    display: flex;

    #sidebar {
      flex: 0 0 $sidebar-width;
      display: inline-block;
      height: 100%;
      float: left;
    }

    #center-pane {
      min-width: 400px;
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

#page-fixed-top {
  position: fixed;
  top: $navbar-height;
  background: $body-bg;
  z-index: $z-page-fixed-top;
  opacity: 0;
}

#page-scroll-content {
  position: relative;
  opacity: 0;
  padding-bottom: 30px;
}