body {
  padding-bottom: 3em;
}

#page-fixed-top {
  position: fixed;
  top: $navbar-height;
  background: $body-bg;
  z-index: $z-page-fixed-top;
  opacity: 0;
}

#page-scroll-content {
  position: relative;
  opacity: 0;
  padding-bottom: 30px;
}