#navbar {
  background: $navbar-default-bg;
  min-height: $navbar-height;
  border: 0;
  font-size: 0.9em;
  border-bottom: 1px solid $laravel-border-color;
  padding: 0 10px;
  display: flex;
  align-items: center;

  .btn-toggle-sidebar {
    border: 0;
    box-shadow: none;
    outline: 0;
    opacity: 0.5;
    padding: 0;
    background: #fff;
    margin: 0 10px 0 0;

    &:hover {
      opacity: 0.8;
    }

    .icon-bar {
      background: $dark-grey;
      display: block;
      width: 30px;
      margin: 5px 0;
      height: 4px;
      border-radius: 2px;
    }
  }

  .navbar-title {
    flex: 1;
    font-weight: bold;
    display: inline-block;
    font-size: 1.6em;
    margin: 14px 5px 14px 0;

    i {
      margin-left: 10px;
      color: $text-muted;
    }
  }

  .user-account {
    display: flex;
    align-items: center;

    .nav-credits {
      background: $extra-dark-grey;
      font-weight: bold;
      padding: 4px 12px;
      margin: 0 8px 0 0;
    }

    .link-settings {
      text-decoration: none;

      .user-avatar {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border: 3px solid $extra-dark-grey;
        background: transparent;
        color: $extra-dark-grey;
      }

      &:hover {
        .user-avatar {
          background: $extra-dark-grey;
          color: #fff;
          border-color: transparent;
        }
      }
    }
  }
}