#projects-all {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 12.5px 0;

    h3 {
      margin: 0;
      display: inline-block;
    }

    .btn {
      background: $light-green;
      border: 0;
      border-bottom: 2px solid darken($light-green, 20%);
      outline: 0;

      &:hover {
        background: darken($light-green, 20%);
      }
    }
  }
}


.gu-mirror {
  opacity: 0.6;
  list-style: none;

  .btn-collapse-item, .btn-edit-name, .list-item-actions {
    display: none;
  }

  .main {
    height: 40px;
    padding: 7px 0 4px 30px;
    background: #ebeef0;
    border-radius: $border-radius-small;
  }


  ul {
    padding-left: 45px;

    li {
      margin: 10px 0;
    }
  }

}
