#projects-all {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 12.5px 0;

    h3 {
      margin: 0;
      display: inline-block;
    }

    .btn {
      background: $light-green;
      border: 0;
      border-bottom: 2px solid darken($light-green, 20%);
      outline: 0;

      &:hover {
        background: darken($light-green, 20%);
      }
    }
  }
}

#projects-single {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;

  #project-board {
    position: relative;

    #updating-position-overlay {
      position: absolute;
      background: #fff;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: $z-index-updating-position-overlay;
      opacity: 0.6;

      .loader {
        position: fixed;
        width: 100%;
        height: calc(100vh - #{$navbar-height});
        top: $navbar-height;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .loader-cube .sk-cube:before {
        background: $black;
      }
    }

    #btn-new-item {
      border-color: $blue !important;
      background: #fff !important;
      color: lighten($blue, 10%) !important;
      padding: 2px 10px;
      font-size: 0.9em;
      transition: all 0.2s ease-out;
      outline: 0 !important;
      margin: 0 0 12.5px;

      &:hover {
        background: lighten($blue, 42%) !important;
      }
    }

    .list-board-items {

      &.nested {
        margin-left: 45px;
      }

      .drag-space {
        height: 10px;
        display: none;
      }

      .single-board-item {
        margin: 10px 0;

        &.gu-transit {
          opacity: 1;

          .main {
            border: 1px dashed $black;
            .name, .list-item-actions {
              opacity: 0;
            }
          }
        }

        &.without-nested {
          margin-bottom: 0;
        }

        .main {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 40px;
          padding: 4px 0 4px 8px;

          &:hover {
            background: $extra-light-grey;
            border-top: 1px solid $laravel-border-color;
            border-bottom: 1px solid $laravel-border-color;
          }

          .name {
            display: flex;
            align-items: center;

            .current_name {
              float: left;
              display: inline-block;

              &.category {
                font-weight: bold;
              }
            }

            .btn-edit-name {
              float: left;
              visibility: hidden;
              opacity: 0;
              background: transparent;
              font-size: 0.8em;
              outline: 0;
              color: $dark-grey;
              width: 30px;
              height: 30px;
              padding: 2px 0 0 4px;
              border-radius: 0;
              box-shadow: none;

              &:hover {
                color: $black;
              }
            }

            &:hover {
              .btn-edit-name {
                visibility: visible;
                opacity: 1;
              }
            }

            .input-name {
              outline: 0;
              border: 1px dashed $black;
            }
          }

          .list-item-actions {
            display: none;
            margin-left: 10px;

            li {
              padding: 0 2px;

              .btn {
                margin: 5px 0;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid $grey;
                line-height: 0;
                outline: 0;
                font-size: 0.75em;
                background: transparent;
                padding: 0;
                color: $grey;
                box-shadow: none;
                opacity: 0.6;

                &.btn-add-sub-item {
                  color: $blue;
                  border-color: $blue;
                }

                &.btn-delete {
                  color: $red;
                  border-color: $red;
                }

                &.btn-link {
                  color: $green;
                  border-color: $green;
                }

                &:hover {
                  opacity: 1;
                }
              }
            }
          }

          &:hover {
            .list-item-actions {
              display: inline-block;
            }
          }
        }

        &.field-new-item {
          margin: 0;

          .wrap {
            margin: 10px 0;
            display: flex;
            padding: 0 0 0 8px;
            align-items: center;
            height: 40px;
            background: $extra-light-grey;

            .input-name {
              width: 100%;
              border: 1px dashed $black;
              border-color: transparent;
              outline: 0;
              margin-right: 8px;
              height: 25px;

              &:focus {
                border-color: $black;
              }
            }

            .submit-buttons {
              white-space: nowrap;

              .btn {
                width: 80px;
                padding: 0 10px 2px 10px;
                outline: 0;
                border-radius: 0;
              }
            }
          }
        }
      }
    }

    &.dragging {
      .single-board-item {

        &.without-nested {
          margin-bottom: -10px;
        }

        &.field-new-item {
          display: none!important;
        }

        .drag-space {
          display: block;
        }
      }
    }
  }
}

.gu-mirror {
  background: #fff;
  opacity: 0.85;
  list-style: none;
  padding: 4px 0 4px 8px;

  .btn-edit-name, .list-item-actions {
    display: none;
  }

  .main {
    height: 40px;
  }

  ul {
    margin-left: 45px;

    li {
      margin: 10px 0;
    }
  }

}
