#sidebar {
  background: $sidebar-bg;
  position: relative;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;

  .btn-close-sidebar {
    color: #fff;
    font-size: 1.8em;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.5;

    &:hover {
      opacity: 0.8;
    }
  }

  .sidebar-logo {
    margin: 10px 0;

    a {
      width: 100%;
      text-align: center;
      display: inline-block;
      padding: 20px 0;

      img {
        width: 80px;
      }
    }
  }

  .links-section {
    position: relative;

    &:not(:last-of-type) {
      margin: 0 0 30px;
    }

    .header {
      color: darken($grey, 5%);
      text-transform: uppercase;
      padding: 0 36px 0 8px;
      margin: 0 0 8px;
      letter-spacing: 0.75px;
      font-weight: bold;
    }

    .link-add {
      border-radius: 50%;
      line-height: 0.5em;
      text-align: center;
      width: 20px;
      height: 20px;
      position: absolute;
      font-weight: bold;
      top: 2px;
      right: 8px;
      border: 2px solid $grey;
      opacity: 0.6;

      .btn {
        color: $grey!important;
        margin-top: 3px;
      }

      &:hover {
        opacity: 1;
      }
    }

    .list-links {
      li {
        padding: 0 8px;

        a {
          color: $grey!important;
          width: 100%;
          text-decoration: none;
          display: inline-block;
          padding: 4px 8px;
          border-radius: $border-radius-base;

          &:hover {
            background: $black;
          }

          i {
            font-size: 0.8em;
            float: left;
          }

          &.meta {
            font-weight: bold;
            border-bottom: 1px dotted $laravel-border-color;
            border-radius: 0;
            width: auto;
            padding: 4px 4px 2px 4px;
            margin: 0 0 0 8px;

            &:hover {
              background: $sidebar-bg;
              border-bottom: 1px solid $laravel-border-color;
            }
          }
        }
      }
    }
  }

  #side-checklists {
    .list-links {
      li {
        a {
          i {
            margin: 6px 6px 0 0;
          }
        }
      }
    }
  }

  #side-projects {
    flex: 1;
    display: flex;
    flex-direction: column;

    .projects-wrap {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      min-height: 100px;

      #list-side-projects {

        li {
          a {
            i {
              margin: 5px 6px 0 0;
            }
          }
        }
      }
    }
  }

  #form-add-project {
    margin: 0 0 8px;
    padding: 0 8px;

    input {
      background: $black;
      border: 0;
      color: #fff;

      &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
        color: #fff !important;
      }
    }

    .help-block {
      color: #fff;
      margin: 8px 0 0 0;
    }
  }

  #input-side-project-search {
    background: $black;
    color: #fff;
    margin: 0 8px 8px 8px;
    border: 0;
    width: calc(100% - 16px);
  }
}