@import "variables/colors";
@import "variables/mixins";

// Body
$body-bg: #FFFFFF;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: $green;
$brand-info: $blue;
$brand-success: $green;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$headings-font-family: "Proxima Nova", Helvetica, Arial, Helvetica, sans-serif;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$font-family-serif: "adelle", Arial, serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: #1B2432;
$link-color: $brand-info;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $extra-dark-grey;
$btn-default-border: $dark-grey;
$btn-danger-bg: $dark-red;

// Inputs
$input-border: $btn-default-border;
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: $dark-grey;

// Panels
$panel-default-heading-bg: #fff;

// Text
$text-muted: #9CA1A8;

// Progress Bars
$progress-bar-success-bg: $green;
$progress-bar-info-bg: $blue;
$progress-bar-warning-bg: $orange;
$progress-bar-danger-bg: $red;

// Breadcrumbs
$breadcrumb-bg: #fff;
$breadcrumb-padding-horizontal: 0;

// Pagination
$pagination-active-bg: #fff;
$pagination-hover-color: $black;
$pagination-hover-border: transparent;
$pagination-hover-bg: #fff;
$pagination-active-color: $brand-primary;
$pagination-color: $dark-grey;
$pagination-disabled-color: $grey;
$pagination-disabled-border: transparnet;
$pagination-border: transparent;
$pagination-active-border: transparent;

// z-indexes
  // Modal
  $z-modal-overlay: 5;
  // Layout
  $z-page-fixed-top: 4;
  // File Request List
  $z-file-list-hover: 2;
  $z-file-list-selected: 3;
  // Checklist
  $z-file-name-search-results: 2;
  // Tables
  $z-table-heading: 3;
  $z-table-bulk-actions-menu: 2;
  $z-table-row-hover: 2;
