@import "variables/colors";
@import "variables/mixins";

// Body
$body-bg: #FFFFFF;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Box Shadows
$box-shadow-dropdown: 0 6px 12px rgba(0, 0, 0, 0.175);

// Brands
$brand-primary: $black;
$brand-info: $blue;
$brand-success: $green;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "open-sans", Arial, Helvetica, sans-serif;
$headings-font-family: $font-family-sans-serif;
//$headings-font-family: "Proxima Nova", Helvetica, Arial, Helvetica, sans-serif;
$font-size-base: 16px;
//$line-height-base: 1.6;
//$padding-base-vertical: 4px;
//$padding-base-horizontal: 8px;

$text-color: #1B2432;
$link-color: $brand-info;

// Navbar
$navbar-default-bg: #fff;
$navbar-height: 60px;

// Sidebar
$sidebar-bg: $extra-dark-grey;
$sidebar-width: 220px;

// Buttons
$btn-default-color: $extra-dark-grey;
$btn-default-border: $dark-grey;
$btn-danger-bg: $dark-red;

// Inputs
$input-border: lighten($btn-default-border, 20%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: $dark-grey;

// Panels
$panel-default-heading-bg: #fff;

// Text
$text-muted: #9E9EA6;

// Progress Bars
$progress-bar-success-bg: $green;
$progress-bar-info-bg: $blue;
$progress-bar-warning-bg: $orange;
$progress-bar-danger-bg: $red;

// Breadcrumbs
$breadcrumb-bg: #fff;
$breadcrumb-padding-horizontal: 0;

// Pagination
$pagination-active-bg: #fff;
$pagination-hover-color: $black;
$pagination-hover-border: transparent;
$pagination-hover-bg: #fff;
$pagination-active-color: $brand-primary;
$pagination-color: $dark-grey;
$pagination-disabled-color: $grey;
$pagination-disabled-border: transparnet;
$pagination-border: transparent;
$pagination-active-border: transparent;

// Modal
$modal-backdrop-opacity: 0.65;
$modal-md: 738px;

// z-indexes
  // Comments
  $z-comments-loading: 2;
  // Datepicker
  $z-datepicker: 1500;
  // Modal
  $z-modal-overlay: 5;
  // Layout
  $z-page-fixed-top: 4;
  // File Request List
  $z-files-header-index: 3;
  // Checklist
  $z-checklist-recipients-list: 3;
  $z-loader-initial: 2;
  $z-file-name-search-results: 2;
  $z-checklist-loading: 6;
  $z-checklist-auth: 4;
  $z-recipients-editor: 3;
  // Tables
  $z-table-heading: 3;
  $z-table-bulk-actions-menu: 2;
  $z-table-row-hover: 2;
  // Project
  $z-main-load: 3;
  $z-member-contact: 3;
  $z-updating-position-overlay: 5;
  $z-modal-loading: 2;
  $z-project-file: 2;
