@import "single/file-modal";

.pf-status-circle {
  display: inline-block;
  margin: 0 3px 0 0;

  .circle {
    border: 1px solid $dark-grey;
    border-radius: 50%;
    width: 14px;
    height: 14px;
  }
}

#project-single {
  height: 100%;
  display: flex;
  flex-direction: column;

  #project-info {
    width: 100%;
  }

  .board-wrap {
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;

    #project-board {
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap;

      .folder-wrap {
        width: 300px;
        margin: 0 5px;
        height: 100%;
        display: inline-block;
        vertical-align: top;

        &:first-child {
          margin-left: 15px;
        }

        &:last-child {
          margin-right: 15px;
        }
      }

      .add-folder {
        .input-name {
          margin-bottom: 5px;
          border-radius: 0;
          border-color: $laravel-border-color;
          padding: 5px 10px;
          font-weight: bold;
          font-size: 18px;

          &.filled, &:focus {
            border-color: $green;
          }
        }
        .btn {
          border-radius: 0;
        }
      }
    }
  }
}

// Outside so styles apply to drag-mirror too
.project-folder-body {
  cursor: pointer;
  background: $extra-light-grey;

  .folder-header {
    display: flex;

    .folder-name {
      flex: 1;
      max-width: calc(100% - 30px);
      font-size: 18px;
      font-weight: bold;
      margin-top: 0;
      padding: 8px 10px 5px 5px;
    }

    .folder-menu {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 10px;
      margin-bottom: 5px;

      .btn {
        height: 16px;
        width: 16px;
        line-height: 1;
        padding: 3px;
        outline: 0;
        box-shadow: none;
        background: #fff;
        color: $dark-grey;
        border: 1px solid $dark-grey;
        border-radius: 50%;

        &:hover, &:focus, &:focus:active {
          color: $blue;
          border-color: $blue;
        }

        i {
          vertical-align: top;
          margin-top: -2px;
          font-size: 14px;
        }
      }

      .dropdown-menu {
        margin-top: -10px;
        padding: 0;

        li {
          a {
            padding: 5px 10px;
            i {
              vertical-align: top;
              line-height: 1.3;
              width: 15px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .add-project-file {

    .placeholder {
      cursor: pointer;
      padding: 5px 5px 5px 10px;
      height: 35px;
      width: 100%;
      display: inline-block;

      &:hover {
        background: $light-grey;
      }
    }

    form {
      display: flex;
      padding: 5px;
      input {
        padding: 5px;
        height: 30px;
        border-radius: 0;
        margin-right: 5px;
        &:focus {
          border-color: $light-blue;
        }
      }
      .btn {
        height: 30px;
        border-radius: 0;
        line-height: 1;
      }
    }
  }
}

// Outside so drag mirror is styled too
.project-file {
  line-height: 1;
  background: #fff;
  position: relative;
  z-index: $z-project-file;
  padding: 8px 12px;
  margin: 5px 5px;
  border: 1px solid $laravel-border-color;

  &:hover {
    background: $light-grey;
  }

  .info-icons {
    margin: 0 5px 0 0;
    font-size: 0.8em;
    .attached {
      display: inline-block;
      color: $grey;
      padding: 4px 0 0 0;

      &.is-attached {
        color: $brand-info;
      }
    }
  }

  .file-name {
    display: inline-block;
  }

  .info-badges {
    .badge {
      margin: 5px 0 0 0;
      font-weight: normal;
      padding: 0;
      min-width: 15px;
      height: 15px;
      background: transparent;
      color: $dark-grey;
      border-radius: 0;

      i, .icon {
        margin: 0 3px 0 0;
      }

      .smart-date {
        display: inline-block;
      }
    }
  }

}

.gu-mirror {
  @include box-shadow(0 3px 6px rgba(0, 0, 0, .175));

  .project-folder-body {
    border: 0;
  }
}

#project-board.dragging {
  .files-list {
    min-height: 30px;
  }
}


