#checklist-single {

  .results-controls {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    .per-page {
      flex: 0 0 100px;
    }

    .paginator {
      .pagination {
        margin: 0;
      }
    }
  }
}