#checklist-single {

  #form-checklist-search {
    margin: 0 0 15px;
  }

  #table-files {

    tbody {

      .col-upload {
        width: 100px;

        .button-upload-file {
          width: 100%;
        }

        .progress {
          height: 10px;
          margin: 10px 0 0 0;

          &.disabled {
            background: $dark-grey;
          }
        }
      }

      .col-owner {
        .button-reject {
          color: $red;
          &:hover {
            color: $dark-red;
          }
        }

        .button-download:not([disabled]) {
          color: $blue;
          &:hover {
            color: $dark-blue;
          }
        }

        .button-history {
          color: $orange;
          &:hover {
            color: $dark-orange;
          }
        }
      }

      .row-details {
        background: $extra-light-grey;

        .col-details {
          padding: 10px 15px 15px 10px;
        }
      }
    }
  }
}