#checklist-single {
  .results-controls {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    .per-page {
      flex: 0 0 100px;
    }

    .paginator {
      .pagination {
        margin: 0;
      }
    }
  }


  #table-files {

    tbody {

      .col-upload {
        width: 100px;

        .button-upload-file {
          width: 100%;
        }

        .progress {
          height: 10px;
          margin: 10px 0 0 0;
        }
      }
    }
  }
}