#checklist-all {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;

  .header {
    margin: 20px 0 10px;
  }

  .progress {
    margin: 0;
  }



  #checklist-collection {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .loading-overlay {
      z-index: $z-loader-initial;
    }

    #checklist-sort {
      margin: 0;
      padding: 6px 9px;
      border: 1px solid $laravel-border-color;

      label {
        font-size: 1em;
        margin: 0;
      }

      select {
        display: inline-block;
        width: 95px;
        border: 0;
        appearance: none;
        padding: 0;
        height: 24px;
        text-decoration: underline;
      }
    }

    #list-checklists {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-bottom: 0;
      overflow-y: auto;
      border: 1px solid $laravel-border-color;
      border-top: 0;

      .single-checklist {
        transition: all 0.15s ease-out;
        display: block;
        padding: 10px 15px;
        position: relative;
        border-top: 1px solid $laravel-border-color;
        border-bottom: 1px solid $laravel-border-color;
        margin-top: -1px;

        &:hover {
          background: lighten($grey, 15%);
        }

        .main {
          display: flex;
          justify-content: space-between;

          .name {
            margin: 0 10px 5px 0;
            word-wrap: break-word;
            min-width: 0;
          }

          .date-made {
            min-width: 80px;
            text-align: right;
            color: $text-muted;
            font-size: 0.9em;
          }
        }

        .stats {
          color: lighten($dark-grey, 10%);
          font-size: 0.9em;
          i {
            margin: 0 5px 0 0;
          }

          .recipients {
            position: relative;

            .list-recipients {
              position: absolute;
              color: $text-color;
              top: 100%;
              margin-top: 5px;
              left: 0;
              font-size: 1.11em;
              background: #fff;
              z-index: $z-checklist-recipients-list;
              border: 1px solid $laravel-border-color;
              padding: 10px;
              border-radius: $border-radius-base;
              box-shadow: $box-shadow-dropdown;
            }
          }
        }
      }

      #checklist-loading {
          position: relative;
          padding: 50px;
      }
    }
  }
}