#checklist-all {

  .progress {
    margin: 0;
  }

  #checklist-sort {
    margin: 0 0 15px;

    label {
      font-size: 1em;
    }

    select {
      display: inline-block;
      width: 95px;
      border: 0;
      appearance: none;
      padding: 0;
    }
  }

  #list-checklists {

    .single-checklist {

      &:not(:last-child) {
        margin: 0 0 15px;
      }

      .checklist-link {
        border: 1px solid $laravel-border-color;
        display: block;
        padding: 15px 20px;
        color: $text-color;
        position: relative;

        &:hover, &:focus {
          background: lighten($brand-primary, 47%);
          border-color: $brand-primary;
          text-decoration: none;
          outline: none;
        }

        p {
          margin: 0 0 5px;
        }

        .header {
          display: flex;
          justify-content: space-between;

          h4 {
            margin: 0 5px 5px 0;
            word-wrap: break-word;
            min-width: 0;
          }

          .date-made {
            min-width: 80px;
            text-align: right;
            color: $text-muted;
            font-size: 0.8em;
          }
        }

        .stats {
          i {
            margin: 0 3px 0 0;
          }
        }
      }
    }
  }

}