#form-checklist-make {
  margin: 0 0 15px;
  border: 1px solid $laravel-border-color;
  padding: 30px;


  #title-checklist-name {
    color: $dark-grey;

    &.filled {
      color: $input-color;
    }
  }

  #input-checklist-name {
    font-size: 34px;
    height: 37px;
    margin-top: 25px;
    margin-bottom: 12.5px;
    font-family: $headings-font-family;
    color: $text-color;

    border: 0;
    @include box-shadow(none);
    @include border-radius(0);
    padding: 0;
    font-weight: 500;
    line-height: 1.1;
  }

  #textarea-new-checklist-description {
    border-color: transparent;
    @include box-shadow(none);
    width: calc(100% + 24px);
    margin-left: -12px;

    &:hover {
      border-color: $laravel-border-color;
    }

    &:focus {
      border-color: $green;
    }
  }

  .title-files {
    margin-bottom: 0;
  }

  .files-summary {
    margin-bottom: 12.5px;
    font-size: 0.9em;
  }

  .single-file {
    display: flex;
    position: relative;

    //&:before {
    //  content: "\f016";
    //  font-family: FontAwesome;
    //  color: $grey;
    //  line-height: 2.3;
    //  position: absolute;
    //}

    .line-el {
      border-top: 1px solid $laravel-border-color !important;
      border-bottom: 1px solid transparent !important;
    }

    &:first-child {
      .line-el {
        border-top-color: transparent !important;
      }
    }

    &.is-focused {
      .line-el {
        border-top: 1px solid darken($brand-primary, 10%) !important;
        border-bottom: 1px solid darken($brand-primary, 10%) !important;
      }

      .icon-file {
        padding: 5px 10px 5px 0;
        color: $brand-primary;
      }

      & + li {
        .line-el {
          border-top: 0 !important;
          border-bottom: 0 !important;
        }
      }
    }

    .icon-file {
      padding: 6px 10px 5px 0;
      color: $grey;
    }



    .input-file-name {
      flex: 1;
      border: 0;
      @include box-shadow(none);
      @include border-radius(0);
      padding-left: 0;
    }

    .list-name-options {
      position: absolute;
      top: 0;
      margin-top: 39px;
      margin-bottom: 30px;
      width: 100%;
      left: 0;
      border-bottom: 1px solid darken($brand-primary, 10%);
      background: lighten($brand-primary, 45%);
      z-index: $z-file-name-search-results;

      .single-name {
        display: block;
        padding: 5px 100px 5px 24px;
        vertical-align: middle;
        position: relative;
        cursor: pointer;
        white-space: nowrap;

        &.is-selected {
          background: lighten($brand-primary, 10%);
          color: #fff;
        }
      }
    }


    .file-weighting {
      border-left: 1px solid $laravel-border-color;
      flex: 0 0 80px;
      display: flex;
      align-items: center;

      input {
        border-radius: 0;
        height: 30px;
        width: 100%;
        border: 0;
      }
    }
  }
}