#checklist-single {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  > .loading-overlay {
    z-index: $z-checklist-loading;
  }

  #checklist-auth {
    z-index: $z-checklist-auth;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: auto;

    .mid {
      width: 100%;
      max-width: 450px;
      margin: 8em auto 2em;
      padding: 0 2em;

      h2 {
        margin: 0 0 15px;
        color: $dark-grey;
        text-align: center;
        i {
          font-size: 4em;
        }
      }

      form {
        display: flex;
        margin: 0 0 10px;

        input {
          margin: 0 10px 0 0;
        }

        button {
          min-width: 48px;
        }
      }
    }
  }

  #checklist-body {
    flex: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    h5 {
      margin: 0;
    }

    .header {
      display: flex;
      align-items: center;

      h3 {
        flex: 1;
      }

      #checklist-owner-menu {

        .btn-dropdown {
          border: 1px solid $dark-grey;
          border-radius: 50%;
          color: $dark-grey;
          text-decoration: none;
          display: inline-block;
          height: 32px;
          width: 32px;
          text-align: center;
          font-size: 1.4em;
          line-height: 1;
          padding: 3px;
          outline: 0;
          box-shadow: none;

          &:hover, &:focus, &:focus:active {
            color: $blue;
            border-color: $blue;
          }

          i {
            vertical-align: top;

          }
        }

      }
    }

    .recipients-editor {
      z-index: $z-recipients-editor;
      margin: 0 0 15px;

      .tagger {
        margin: 0 0 10px;
      }

      .buttons {
        .btn {
          outline: 0;
          width: 80px;

          &:first-child {
            margin: 0 5px 0 0;
          }
        }
      }
    }

    #add-file-request {
      margin: 0 0 15px;

      .form-wrap {
        border: 1px solid $laravel-border-color;
        padding: 10px 10px 0;
      }

      form {

        .fields {
          display: flex;

          label {
            display: block;
          }

          .field-name {
            flex: 1;
            margin: 0 15px 0 0;

            input {
              width: 100%;
            }
          }

          .field-due {
            flex: 0 0 120px;

            .datepicker {
              display: inline-block;
              button {
                padding: 6px 0;
                font-size: 1em;

                i {
                  font-size: 1.2em;
                }
              }
            }
          }
        }

        .form-buttons {
          button {
            outline: 0;
            width: 80px;

            &:first-child {
              margin: 0 5px 0 0;
            }
          }
        }
      }
    }

    .menu-item {

      a {

        &:hover {

          .icon {
            opacity: 1;
          }
        }

        .icon {
          opacity: 0.6;
          margin-right: 3px;
          font-size: 1.2em;

          &.upload {
            color: $dark-green;
          }

          &.reject {
            color: $red;
          }

          &.more {
            color: $text-muted;
          }

          &.history {
            color: $dark-yellow;
          }

          &.rename {
            color: $dark-blue;
          }

          &.delete {
            color: $gray;
          }
        }

        &.disabled {
          color: $text-muted;
          pointer-events: none;
          .icon {
            color: $text-muted;
          }
        }
      }
    }

    #pane-nav {
      width: 100%;
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid $laravel-border-color;

      @media screen and (min-width: $screen-sm-min) {
        display: none;
      }

      a {
        margin: 0 10px;
        cursor: pointer;
        color: $text-color;
        text-decoration: none;
        font-weight: bold;

        i {
          min-width: 15px;
          font-size: 0.875em;
        }

        &:hover {
          color: $blue;
        }

        &.active {
          color: $blue !important;
        }

        &.unclickable {
          cursor: not-allowed;
          color: $dark-grey;
          &:hover {
            color: $dark-grey;
          }
        }
      }
    }

    #split-view {
      flex: 1;
      display: flex;
      overflow: hidden;

      .pane {
        background: #fff;
      }

      .pane-container {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $screen-md-min) {
          padding: 20px 15px 0 15px;
        }
      }

      #main-pane {
        @include transition(margin-left 0.25s ease-out, width 0.25s ease-out);
        flex: 5500 1 605px;
        z-index: 2;
        position: relative;
        max-width: 100%;
        display: flex;
        flex-direction: column;

        &.collapsed {
          margin-left: calc(-100% - 5px);
          @media screen and (min-width: $screen-sm-min) {
            margin-left: 0;
          }
        }

        .pane-container {
          padding: 15px 0 0 0;
        }
      }

      #right-pane {
        flex: 4500 1 359px;
        @include transition(margin-left 0.2s);
        position: relative;
        z-index: 0;
        border-left: 5px solid $laravel-border-color;
        overflow-y: auto;
        padding-bottom: 15px;
        @media screen and (min-width: $screen-sm-min) {
          max-width: 650px;
        }

        &.collapsed {
          margin-left: -475px;
          @media screen and (min-width: $screen-sm-min) {
            margin-left: 20px;
          }
        }

        .pane-container {
          padding: 15px 0;

          @media screen and (min-width: $screen-sm-min) {
            padding: 15px 0 15px 20px;
          }
        }
      }

      #file-view {

        h3 {
          margin: 0 0 5px;
        }

        > .due-date {
          margin: 0 0 5px;

          > i {
            color: $text-muted;
          }
          .fr-due-date {
            display: inline-block;
            margin-left: 8px;

            button {
              padding: 6px 6px 6px 0;
              font-size: 1em;
            }
          }
        }

        #single-file-request-menu {
          font-size: 0.875em;
          margin-bottom: 20px;
        }

        .notes {
          margin: 0 0 15px;
        }
      }

      @import "single/summary-view";
    }
  }

  #form-checklist-search {
    margin: 0 0 10px;

    .dropdown-toggle {
      background: transparent;
      border-color: $input-border;
      color: $text-color;
      outline: 0;
      box-shadow: none;

      .caret {
        color: $text-color;
      }
    }
  }

  #mobile-file-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
    border: 1px dashed $blue;
    padding: 5px;
    margin: 0 0 5px;
    font-size: 0.875em;
    text-align: right;

    @media screen and (min-width: $screen-sm-min) {
      display: none;
    }

    .file-name {
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0;
      flex: 100%;
      width: 0;
    }

    .list-menu-items {
      flex: 1 0 210px;
      margin: 0 -5px 0 0;
    }

    .dropdown-menu {
      min-width: 150px;

      .menu-item {
        font-size: 0.875em;

        a {
          padding: 2px 10px;

          .icon {
            width: 18px;
            margin-right: 5px !important;
          }
        }
      }
    }
  }

  // Table setup
  #files-header {
    white-space: nowrap;
    min-height: 35px;

    @media screen and (min-width: $screen-sm-min) {
      display: flex !important;
    }
  }

  #files-header, .single-file-request {
    display: flex;
  }

  .column {
    display: flex;
    border: 0;
    align-items: center;
  }

  // Header Columns
  .header-column {
    padding: 5px 10px;
    cursor: pointer;
    position: relative;

    &.current_asc, &.current_desc {
      font-weight: bold;

      &:after {
        color: $grey;
        font-family: FontAwesome;
        font-size: 1.3em;
        position: absolute;
        top: 2px;
        margin-left: 10px;
      }

      &.current_asc:after {
        content: '\f0d8';
      }

      &.current_desc:after {
        content: '\f0d7';
      }
    }
  }

  // Content Columns
  .content-column {
    padding: 15px 10px;

    &.col-due {
      font-size: 0.875em;
    }
  }

  // Individual Columns
  .file-status {
    color: $dark-grey;
    opacity: 0.6;

    &.received {
      color: $green;
    }

    &.rejected {
      color: $red;
    }
  }

  .col-file {
    flex: 0;

    &:after {
      margin-left: 20px !important;
    }
  }

  .col-name {
    flex: 1;
    display: flex;
    align-items: center;
    width: 0;

    .name {
      white-space: nowrap;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .col-due {
    flex: 0 0 120px;

    .fr-due-date {
      button {
        font-size: 1em;
        padding: 0;
      }
    }

    .fr-uploader {
      display: none;

      &.uploading {
        display: block;
        & + div {
          display: none;
        }
      }

      .btn {
        transition: all 0.2s ease-out;
        font-size: 1em;
        padding: 1px 6px;
        width: 30px;
        height: 30px;
        border: 2px solid $green;
        background: transparent;
        color: $green;
        outline: 0;

        &:hover:not(:disabled), &:focus {
          border-color: transparent;
          background: $green;
          color: #fff;
        }
      }

      .loader {
        color: $text-muted;
      }
    }
  }

  // Header Specific
  .table-header {
    margin-left: 0;
    border-bottom: 1px solid $laravel-border-color;
    font-size: 0.875em;
    margin-bottom: -1px;
  }

  // Body / List Specific
  #files-list {
    padding-top: 1px;
    overflow-y: auto;
    margin-bottom: 0;

    .single-file-request {
      border: 1px solid transparent;
      flex-wrap: wrap;
      min-height: 62px;

      &:not(:first-child) {
        border-top: 1px solid $laravel-border-color;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:hover, &:focus, &.focus, &.is-selected {
        background: $extra-light-blue;
        border: 1px solid $light-blue !important;
        border-radius: $border-radius-large;
        position: relative;
        outline: 0;

        + .single-file-request {
          border-color: transparent;
        }

        .col-due {
          .fr-due-date {
            display: none;
          }
          .fr-uploader {
            display: block;
          }
        }
      }

      &:focus, &.focus, &.is-selected {
        background: darken($extra-light-blue, 2%);
      }

      .col-file {
        font-size: 0.875em;
      }
    }

    .fr-loading {
      position: relative;
      height: 100px;
    }
  }
}