#checklist-single {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  > .loading-overlay {
    z-index: $z-checklist-loading;
  }

  #checklist-body {
    flex: 1;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    h5 {
      margin: 0;
    }

    .header {
      display: flex;
      align-items: center;

      h3 {
        flex: 1;
      }

      #checklist-owner-menu {

        .btn-dropdown {
          border: 1px solid $dark-grey;
          border-radius: 50%;
          color: $dark-grey;
          text-decoration: none;
          display: inline-block;
          height: 32px;
          width: 32px;
          text-align: center;
          font-size: 1.4em;
          line-height: 1;
          padding: 3px;
          outline: 0;
          box-shadow: none;

          &:hover, &:focus, &:focus:active {
            color: $blue;
            border-color: $blue;
          }

          i {
            vertical-align: top;
            margin-top: 2px;
          }
        }

      }
    }

    .recipients-editor {
      z-index: $z-recipients-editor;
      margin: 0 0 15px;

      .tagger {
        margin: 0 0 10px;
      }

      .buttons {
        .btn {
          outline: 0;
          width: 80px;

          &:first-child {
            margin: 0 5px 0 0;
          }
        }
      }
    }

    #add-file-request {
      border: 1px solid $laravel-border-color;
      padding: 15px;
      margin: 0 0 15px;

      h4 {
        margin-top: 0;
      }

      form {

        .fields {
          display: flex;

          label {
            display: block;
          }

          .field-name {
            flex: 1;
            margin: 0 15px 0 0;

            input {
              width: 100%;
            }
          }

          .field-due {
            flex: 0 0 120px;

            .datepicker {
              display: inline-block;
              button {
                padding: 6px 0;
                font-size: 1em;

                i {
                  font-size: 1.2em;
                }
              }
            }
          }
        }

        .form-buttons {
          button {
            outline: 0;
            width: 80px;

            &:first-child {
              margin: 0 5px 0 0;
            }
          }
        }
      }
    }

    .menu-item {

      a {

        &:hover {

          .icon {
            opacity: 1;
          }
        }

        .icon {
          opacity: 0.6;
          margin-right: 3px;
          font-size: 1.2em;

          &.upload {
            color: $dark-green;
          }

          &.reject {
            color: $red;
          }

          &.more {
            color: $text-muted;
          }

          &.history {
            color: $dark-yellow;
          }

          &.rename {
            color: $dark-blue;
          }

          &.delete {
            color: $gray;
          }
        }

        &.disabled {
          color: $text-muted;
          pointer-events: none;
          .icon {
            color: $text-muted;
          }
        }
      }
    }

    #pane-nav {
      width: 100%;
      display: block;
      margin: 0 0 10px;

      @media screen and (min-width: $screen-sm-min) {
        display: none;
      }

      a {
        margin: 0 10px;
        cursor: pointer;
        color: $dark-grey;
        text-decoration: none;

        i {
          min-width: 15px;
          font-size: 0.9em;
        }

        &:hover {
          color: $text-color;
        }

        &.active {
          color: $text-color;
          text-decoration: underline;
        }

        &.unclickable {
          cursor: default;
          &:hover {
            color: $dark-grey;
          }
        }
      }
    }

    #split-view {
      flex: 1;
      display: flex;
      overflow: hidden;

      .pane {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        background: #fff;
      }

      .pane-container {
        padding: 20px 10px 0 10px;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $screen-md-min) {
          padding: 20px 15px 0 15px;
        }
      }

      #main-pane {
        @include transition(margin-left 0.25s ease-out, width 0.25s ease-out);
        flex: 5500 1 605px;
        z-index: 2;
        position: relative;
        border: 1px solid $laravel-border-color;
        max-width: 100%;
        display: flex;
        flex-direction: column;

        &.collapsed {
          margin-left: calc(-100% - 15px);
          @media screen and (min-width: $screen-sm-min) {
            margin-left: 0;
          }
        }

      }

      #right-pane {
        flex: 4500 1 359px;
        @include transition(margin-left 0.2s);
        margin-left: 15px;
        position: relative;
        z-index: 0;
        border: 1px solid $laravel-border-color;
        overflow-y: auto;
        padding-bottom: 15px;
        @media screen and (min-width: $screen-sm-min) {
          max-width: 650px;
        }

        &.collapsed {
          margin-left: -475px;
          @media screen and (min-width: $screen-sm-min) {
            margin-left: 15px;
          }
        }
      }

      #file-view {

        h3 {
          margin: 0 0 10px;
        }

        #single-file-request-menu {
          font-size: 0.9em;
          margin-bottom: 20px;
        }

        .notes {
          margin: 0 0 15px;
        }
      }
    }
  }

  #form-checklist-search {
    margin: 0 0 10px;

    .dropdown-toggle {
      background: transparent;
      border-color: $input-border;
      color: $text-color;
      outline: 0;
      box-shadow: none;

      .caret {
        color: $text-color;
      }
    }
  }

  #mobile-file-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
    border: 1px dashed $blue;
    padding: 5px;
    margin: 0 0 5px;
    font-size: 0.9em;

    @media screen and (min-width: $screen-sm-min) {
      display: none;
    }

    .file-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0;
      flex: 100%;
      width: 0;
    }

    .list-menu-items {
      flex: 1 0 210px;
      margin: 0 -5px 0 0;
    }

    .dropdown-menu {
      min-width: 120px;

      .menu-item {
        font-size: 0.9em;

        a {
          padding: 2px 10px;

          .icon {
            width: 18px;
            margin-right: 5px !important;
          }
        }
      }
    }
  }

  // Table setup
  #files-header {
    white-space: nowrap;
    min-height: 35px;

    @media screen and (min-width: $screen-sm-min) {
      display: flex !important;
    }
  }

  #files-header, .single-file-request {
    display: flex;
  }

  .column {
    display: flex;
    border: 0;
    align-items: center;

    &.col-upload {
      display: none;
    }

    @media screen and (min-width: $screen-sm-min) {
      &.col-upload {
        display: inline-block;
      }
    }
  }

  // Header Columns
  .header-column {
    padding: 5px 10px;
    cursor: pointer;
    position: relative;

    &.current_asc, &.current_desc {
      font-weight: bold;

      &:after {
        color: $grey;
        font-family: FontAwesome;
        font-size: 1.3em;
        position: absolute;
        top: 2px;
        margin-left: 10px;
      }

      &.current_asc:after {
        content: '\f0d8';
      }

      &.current_desc:after {
        content: '\f0d7';
      }
    }
  }

  // Content Columns
  .content-column {
    padding: 15px 10px;

    &.col-due {
      font-size: 0.9em;
    }
  }

  // Individual Columns
  .file-status {
    color: $grey;

    &.received {
      color: $green;
    }

    &.rejected {
      color: $red;
    }
  }

  .col-file {
    flex: 0 0 37px;

    @media screen and (min-width: $screen-sm-min) {
      flex: 0 0 41px;
    }

    &:after {
      margin-left: 20px !important;
    }
  }

  .col-name {
    flex: 1;
    display: flex;
    align-items: center;
    width: 0;

    .name {
      white-space: nowrap;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .col-due {
    flex: 0 0 120px;

    button {
      font-size: 1em;
      padding: 0;
    }
  }

  .col-upload {
    width: 50px;
  }

  // Header Specific
  .table-header {
    margin-left: 0;
    border-bottom: 1px solid $laravel-border-color;
    font-size: 0.9em;
    margin-bottom: -1px;
  }

  // Body / List Specific
  #files-list {
    padding-top: 1px;
    overflow-y: auto;
    margin-bottom: 0;

    .single-file-request {
      border-top: 1px solid $laravel-border-color;
      border-bottom: 1px solid $laravel-border-color;
      margin-bottom: -1px;
      flex-wrap: wrap;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        border-color: $grey;
        background: lighten($grey, 15%);
        z-index: $z-file-list-hover;
        position: relative;
      }

      &:focus, &.focus, &.is-selected {
        background: lighten($grey, 12%);
        border-color: darken($grey, 10%);
        z-index: $z-file-list-selected;
        position: relative;
        outline: 0;
      }

      .col-file {
        i {
          font-size: 1.2em;
          @media screen and (min-width: $screen-sm-min) {
            font-size: 1.5em;
          }
        }
      }

      .col-upload {
        .btn {
          transition: all 0.2s ease-out;
          border-radius: 30px;
          font-size: 1em;
          padding: 1px 7px;
          width: 30px;
          height: 30px;
          border: 1px solid $green;
          background: transparent;
          color: $green;
          outline: 0;

          &:hover:not(:disabled), &:focus {
            border-color: transparent;
            box-shadow: 0 0 0 3px $green;
          }
        }
      }
    }

    .fr-loading {
      position: relative;
      height: 100px;
    }
  }
}