#checklist-single {

  #join-offer {
    background: $extra-light-yellow;
    @include border-radius($border-radius-small);
    padding: 5px 10px;
    margin: 0 0 15px;
  }

  #header {
    display: flex;
    margin: 0 0 15px;

    .right {
      flex: 1;
      text-align: right;
    }
  }

  #checklist-notifications-control {
    position: relative;

    #form-notifications {
      position: absolute;
      width: 336px;
      top: 0;
      right: 0;
    }
  }

  #form-checklist-search {
    margin: 0 0 15px;
  }

  #table-files {

    tbody {

      .col-upload {
        width: 100px;

        .progress {
          height: 5px;
          margin: 0 0 0 0;
        }


      }

      .row-details {
        background: $extra-light-grey;

        .col-details {
          padding: 10px 15px 15px 10px;
        }
      }
    }
  }


  // Button Colors
  .button-history {
    color: $orange;
    &:hover {
      color: $dark-orange;
    }
  }

  .button-upload:not([disabled]) {
    color: $green;
    &:hover {
      color: $dark-green;
    }
  }

  .button-download:not([disabled]) {
    color: $blue;
    &:hover {
      color: $dark-blue;
    }
  }

  .button-reject {
    color: $red;
    &:hover {
      color: $dark-red;
    }
  }
}