#checklist-make {
  .header {
    border-bottom: 1px solid $laravel-border-color;
    margin-bottom: 15px;
  }

  .weighting-switch {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: flex-end;
    flex-wrap: nowrap;

    > label {
      margin: 0 10px 0 0;
      font-weight: bold;
    }

    .onoffswitch {
      display: inline-block;

      label {
        margin-bottom: 0;
      }
    }
  }
}