.notes  {


  .btn-add-note {
    margin: 0 0 10px;
  }

  .table-notes {
    margin: 0;
    border-collapse: initial;

    .row-single-note {

      &:hover {
        background: $extra-light-grey;
      }

      td {
        border-bottom: 1px solid $laravel-border-color;
        border-color: transparent;
        padding: 5px;

        &.is-focused {

          textarea {
            border-color: $input-border-focus!important;
          }
        }
      }

      .col-check {
        padding-top: 4px;

        .btn-check {
          background: transparent;
          width: 25px;
          height: 25px;
          color: $grey;
          padding: 0;
          border: 1px solid $grey;
          outline: 0;
          font-size: 1em;
          transition: all 0.15s ease-out;
          border-radius: 0;

          &:hover, &.checked {
            color: $input-border-focus;
            border-color: $input-border-focus;
          }
        }
      }

      .col-body {
        padding-left: 5px;


        .note-body {
          position: relative;

          textarea, .sizer {
            padding: 0 5px;
          }

          textarea {
            border: 1px dashed $input-border-focus;
            border-color: transparent;
            overflow: hidden;
            min-height: 25px;
            line-height: 25px;
            transition: border-color 0.15s ease-in;
            border-radius: 0;
          }

          .sizer {
            word-break: break-all;
            position: absolute;
            opacity: 0;
            visibility: hidden;
          }

          &.checked {
            textarea {
              color: lighten($input-border-focus, 24%);
            }
          }
        }
      }
    }
  }
}