#project-file-modal {

  .list-pf-modal-actions {
    > li {
      &:not(:last-child) {
        margin-bottom: 5px;
      }

      .btn-modal-action {
        outline: 0;
        border: 0;
        text-align: left;
        width: 100%;
        font-weight: bold;

        i {
          width: 20px;
          margin-right: 3px;
        }

        .caret {
          color: $text-color;
        }

        &:hover:not([disabled]) {
          background: $brand-primary;
          color: #fff;

          .caret {
            color: #fff;
          }
        }
      }

      .btn-group {
        display: flex;

        .btn {
          width: initial;

          &:first-child {
            flex: 1;
          }
        }
      }
    }
  }

  .modal-body {
    min-height: 650px;
    display: flex;
    flex-direction: column;
    padding: 0;

    > .loading-overlay {
      z-index: $z-modal-loading;
    }

    .close {
      position: absolute;
      right: 15px;
      top: 15px;
      width: 15px;
      height: 15px;
    }

    .main {
      display: flex;
      flex: 1;

      .content {
        flex: 100%;
        padding: 15px;

        .file-name {
          margin: 0 0 15px;
          display: flex;
          align-items: center;

          .pf-status-circle {
            margin: 0 10px 0 0;

            .circle {
              width: 20px;
              height: 20px;
            }
          }

          i {
            font-size: 1em;
            margin-right: 8px;
            color: #999999;
            float: left;
          }

          .name-wrap {
            flex: 1;
            width: 100%;
            display: inline-block;
            margin-right: 70px;
            word-break: break-all;

            @media screen and (min-width: $screen-sm-min) {
              margin-right: 0;
            }
          }
        }

        .title-group {
          display: flex;
          align-items: center;
          margin-top: 11px;
          justify-content: space-between;

          h5 {
            margin-top: 0;
          }

          a {
            font-size: 0.8em;
            i {
              margin: 0 3px 0 0;
            }
          }
        }

        #pfm-mobile-actions {
          @media screen and (min-width: $screen-sm-min) {
            display: none;
          }

          .list-pf-modal-actions {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px 15px -5px;

            .heading {
              flex: 100%;
            }

            > li {
              margin: 0 5px;

              .btn-modal-action {
                border: 1px solid #999999;

                i {
                  margin: 0;
                }
              }
            }
          }
        }

        .nav-tabs {
          margin: 0 0 10px;
        }

        .summary {

          > div {
            display: inline-block;
          }

          i, .icon {
            color: $text-muted;
          }

          .info {
            margin: 0 5px;
          }
        }

        @import "modal/project-view";
        @import "modal/request-view";

      }

      #pfm-main-actions {
        padding: 15px 10px 15px 10px;
        flex: 0 0 180px;
        background: $light-grey;
        display: none;

        @media screen and (min-width: $screen-sm-min) {
          display: block;
        }
      }

      .attach-wrapper {
        position: relative;

        #attach-fr-menu {
          display: block !important;
          padding: 10px 15px;
          width: 300px;
          border: 1px solid $laravel-border-color;

          @media screen and (min-width: $screen-sm-min) {
            width: 450px;
            left: auto;
            right: 0;
          }

          #input-search-attach-fr {
            margin: 0 0 10px;
          }

          .file-requests {
            border: 1px solid $laravel-border-color;
            max-height: 223px;
            overflow: auto;
            position: relative;

            .single-file-request {
              padding: 5px 10px;
              border-bottom: 1px solid $laravel-border-color;

              &:hover {
                background: $extra-light-grey;
              }

              .file-name {
                margin: 0 0 5px;
              }
              .checklist {
                font-size: 0.8em;
                .recipients {
                  margin-right: 5px;
                }
              }
            }
          }

          .empty-placeholder {
            margin: 0;
            padding: 15px 10px;
            color: $text-muted;

            .description {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }

  .pf-uploader {
    position: relative;
    .loading-overlay {
      border-radius: 3px;
    }
  }

  .pf-downloader {
    .dropdown-menu {
      min-width: 280px;
      padding: 10px 15px;

      form {
        margin: 0 0 10px;

        select {
          margin-right: 10px;
        }
        .btn {
          text-align:  center;
          width: initial;
          padding: 6px 10px;

          i {
            text-align: center;
            margin-right: 0 !important;
          }
        }
      }
    }
  }
}