.list-members {
  margin: 0 0 -10px -5px;
  display: flex;
  flex-wrap: wrap;

  > li {
    margin: 0 0 10px;
  }

  .add-member {
    position: relative;

    > button {
      padding-top: 4px;
      box-shadow: none;
      outline: 0;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #fff;
      border: 3px solid $midnight-mid;
      color: $midnight-mid;

      &:hover {
        background: $extra-light-grey;
      }
    }
  }
}

.member-avatar {
  cursor: default;
  background: $midnight-mid;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;

  .initials {
    font-weight: bold;
  }

  &.admin {
    background: $light-blue;
  }

  &.manager {
    background: $light-green;
  }
}

.avatar-popover {
    > div {
      word-break: break-all;
    }
    .position {
      color: $text-muted;
      font-size: 0.8em;
    }
    .name {
      font-weight: bold;
    }
}