.editable-text-area {

  $min-height: 80px;

  .placeholder {
    min-height: $min-height;
    border: 1px solid transparent;
    display: inline-block;
    width: 100%;
    white-space: normal;
    word-break: break-all;
    padding: 2px;

    &:hover {
      border: 1px dashed $grey;
    }
  }

  form {

    textarea {
      min-height: $min-height;
      width: 100%;
      outline: 0;
      border: 1px dashed $black;
    }
  }
}