.editable-text-field {
  margin-bottom: -7px;  // because overflow:hidden (from editable input) adds phantom pixels

  .placeholder {
    display: inline-block;
    border: 1px solid transparent;
    padding: 1px 0;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      border: 1px dashed $input-border;
      padding: 1px;
      margin: 0 -1px;
    }
  }

  input {
    outline: 0;
    border: 1px dashed $input-border-focus;
    width: 100%;
    margin: 0 -1px 7px;
  }
}